---
name: farmer
url: /farmer
animationIn: fadeIn
---

<div class="farmer-page">
  <div class="info">
    <div class="container">
      <div class="farm-img">
        <img src="https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/s320x320/e15/11410456_1054296967922095_1114136858_n.jpg" alt="" />
      </div>
      <div class="text-info">
        <h3>Flowerstone Farm</h3>
        <p class="description"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        <p> <i class="fa fa-map-marker"></i> 123 Main Street, West Sacramento <br>
        <i class="fa fa-phone"></i> 555-113-4498 </p>
      </div>
    </div>
  </div>

  <div class="grid-content small-12 medium-12 products">

      <div class="grid-container">
        <div class="medium-12">
          <h3>Products</h3>
          <hr>
        </div>

        <div class="grid-block">

                <div class="grid-content medium-2">
                <div class="card" ui-sref="market">
                <img src="http://placehold.it/433x250">
                <div class="card-section">
                <p>Lorem ipsum dolor sit amet.
                </div>
                </div>
                </div>

                <div class="grid-content medium-2">
                <div class="card" ui-sref="market">
                <img src="http://placehold.it/433x250">
                <div class="card-section">
                <p>Lorem ipsum dolor sit amet.
                </div>
                </div>
                </div>

                <div class="grid-content medium-2">
                <div class="card" ui-sref="market">
                <img src="http://placehold.it/433x250">
                <div class="card-section">
                <p>Lorem ipsum dolor sit amet.
                </div>
                </div>
                </div>

                <div class="grid-content medium-2">
                <div class="card" ui-sref="market">
                <img src="http://placehold.it/433x250">
                <div class="card-section">
                <p>Lorem ipsum dolor sit amet.
                </div>
                </div>
                </div>

                <div class="grid-content medium-2">
                <div class="card" ui-sref="market">
                <img src="http://placehold.it/433x250">
                <div class="card-section">
                <p>Lorem ipsum dolor sit amet.
                </div>
                </div>
                </div>

                <div class="grid-content medium-2">
                <div class="card" ui-sref="market">
                <img src="http://placehold.it/433x250">
                <div class="card-section">
                <p>Lorem ipsum dolor sit amet.
                </div>
                </div>
                </div>

                <div class="grid-content medium-2">
                <div class="card" ui-sref="market">
                <img src="http://placehold.it/433x250">
                <div class="card-section">
                <p>Lorem ipsum dolor sit amet.
                </div>
                </div>
                </div>

                <div class="grid-content medium-2">
                <div class="card" ui-sref="market">
                <img src="http://placehold.it/433x250">
                <div class="card-section">
                <p>Lorem ipsum dolor sit amet.
                </div>
                </div>
                </div>

                <div class="grid-content medium-2">
                <div class="card" ui-sref="market">
                <img src="http://placehold.it/433x250">
                <div class="card-section">
                <p>Lorem ipsum dolor sit amet.
                </div>
                </div>
                </div>

        </div>
      </div>

  </div>


</div>
