---
name: farmers
url: /farmers
---

<div class="grid-block">
  <div class="grid-content">
    <h1>Farmers</h1>
    <hr>
    <div class="grid-block">
    <div class="grid-content medium-6 large-4">
      <div class="card success" ui-sref="farmer">
      <img src="https://placeimg.com/433/215/people">
      <div class="card-divider">
      This is a header
      </div>
      <div class="card-section">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      </div>
      </div>
    </div>

    <div class="grid-content medium-6 large-4">
      <div class="card" ui-sref="farmer">
      <img src="https://placeimg.com/433/215/people">
      <div class="card-divider">
      This is a header
      </div>
      <div class="card-section">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      </div>
      </div>
    </div>

    <div class="grid-content medium-6 large-4">
      <div class="card" ui-sref="farmer">
      <img src="https://placeimg.com/433/215/people">
      <div class="card-divider">
      This is a header
      </div>
      <div class="card-section">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      </div>
      </div>
    </div>

    <div class="grid-content medium-6 large-4">
      <div class="card" ui-sref="farmer">
      <img src="https://placeimg.com/433/215/people">
      <div class="card-divider">
      This is a header
      </div>
      <div class="card-section">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      </div>
      </div>
    </div>

    <div class="grid-content medium-6 large-4">
      <div class="card" ui-sref="farmer">
      <img src="https://placeimg.com/433/215/people">
      <div class="card-divider">
      This is a header
      </div>
      <div class="card-section">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      </div>
      </div>
    </div>

    <div class="grid-content medium-6 large-4">
      <div class="card" ui-sref="farmer">
      <img src="https://placeimg.com/433/215/people">
      <div class="card-divider">
      This is a header
      </div>
      <div class="card-section">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      </div>
      </div>
    </div>

  </div>
</div>
