<<<<<<< HEAD
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
=======
/*Market Page Styles Code*/
body {
  font-family: 'Lato', sans-serif;}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', serif;
  font-weight: bold;}

.menu-group.primary, .menu-group.primary .menu-bar {
  background-color: rgb(51, 51, 51);}

.market-page .about {
  background-color: WhiteSmoke;}

.market-page .header img{
  width: 250px;
}
.market-page .info {
  background-color: white;
}
.market-page .info ul {
  padding: 30px;
}
.market-page .description {
  width: 56%;
  font-size: 15px;
  margin: 0 auto;
}
.market-page .farmers {
  text-align: center;
  background-color: WhiteSmoke;
}
.market-page .farmers ul {
  list-style-type: none;
  padding: 75px;
  width: 900px;
}
.market-page .farmers ul > li {
  display: inline;
  margin: 20px;
}
.market-page .farmers ul > li > img{
  border-radius: 100%;
}


/*Farmer Page Style Code */
.farmer-page .products {
  width: 100%;
  background-color: #ccc;
}
.farmer-page .info .container{
  width: 70%;
  margin: 0 auto;
  height: 220px;
}
.farmer-page .info .text-info{
  width: 70%;
  position: relative;
  float: right;
  padding: 10px;
  margin-top: 25px;
}
.farmer-page .info .text-info p {
  line-height: 22px;
}
.farmer-page .info .farm-img{
  width: 25%;
  position: relative;
  float: left;
  text-align: right;
  margin-left: 30px;
  margin-top: 15px;
}
.farmer-page .info .farm-img img {
  width: 200px;
  padding: 20px;
  border-radius: 100%;
  margin: 0 auto;
}

/*card style code*/
.card p {
  font-size: 13px;
  color: #333;
  margin-bottom: 5px;}

.card p i.fa{
  width: 14px;}

.card {
      border: 0px solid #ededed;
    background: rgb(250,250,250);}


/*map styles*/
#map { height: 800px; }
>>>>>>> 536071228613577558178ee46deab3a64b25bc46
