<form action="https://docs.google.com/a/codeforamerica.org/forms/d/1_Qsu-iSWFo_3supmJqIIM1zqzrIW0WKwAgDg3VdkHQc/formResponse" method="POST" id="ss-form" target="_self" onsubmit=""><ol role="list" class="ss-question-list" style="padding-left: 0">
<div class="ss-form-question errorbox-good" role="listitem">
<div dir="auto" class="ss-item  ss-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_1861515584"><div class="ss-q-title">title
</div>
<div class="ss-q-help ss-secondary-text" dir="auto"></div></label>
<input type="text" name="entry.1861515584" value="" class="ss-q-short" id="entry_1861515584" dir="auto" aria-label="title  " title="">
<div class="error-message" id="1004475373_errorMessage"></div>
<div class="required-message">This is a required question</div>
</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="auto" class="ss-item  ss-paragraph-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_2125513036"><div class="ss-q-title">description
</div>
<div class="ss-q-help ss-secondary-text" dir="auto"></div></label>
<textarea name="entry.2125513036" rows="8" cols="0" class="ss-q-long" id="entry_2125513036" dir="auto" aria-label="description  "></textarea>
<div class="error-message" id="1398768334_errorMessage"></div>
<div class="required-message">This is a required question</div>
</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="auto" class="ss-item  ss-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_84306259"><div class="ss-q-title">address
</div>
<div class="ss-q-help ss-secondary-text" dir="auto"></div></label>
<input type="text" name="entry.84306259" value="" class="ss-q-short" id="entry_84306259" dir="auto" aria-label="address  " title="">
<div class="error-message" id="1569349840_errorMessage"></div>
<div class="required-message">This is a required question</div>
</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="auto" class="ss-item  ss-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_1559662300"><div class="ss-q-title">city
</div>
<div class="ss-q-help ss-secondary-text" dir="auto"></div></label>
<input type="text" name="entry.1559662300" value="" class="ss-q-short" id="entry_1559662300" dir="auto" aria-label="city  " title="">
<div class="error-message" id="1089536001_errorMessage"></div>
<div class="required-message">This is a required question</div>
</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="auto" class="ss-item  ss-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_239834816"><div class="ss-q-title">state
</div>
<div class="ss-q-help ss-secondary-text" dir="auto"></div></label>
<input type="text" name="entry.239834816" value="" class="ss-q-short" id="entry_239834816" dir="auto" aria-label="state  " title="">
<div class="error-message" id="385662982_errorMessage"></div>
<div class="required-message">This is a required question</div>
</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="auto" class="ss-item  ss-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_1662777272"><div class="ss-q-title">zipcode
</div>
<div class="ss-q-help ss-secondary-text" dir="auto"></div></label>
<input type="text" name="entry.1662777272" value="" class="ss-q-short" id="entry_1662777272" dir="auto" aria-label="zipcode  " title="">
<div class="error-message" id="118015585_errorMessage"></div>
<div class="required-message">This is a required question</div>
</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="auto" class="ss-item  ss-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_1177582444"><div class="ss-q-title">organizer
</div>
<div class="ss-q-help ss-secondary-text" dir="auto"></div></label>
<input type="text" name="entry.1177582444" value="" class="ss-q-short" id="entry_1177582444" dir="auto" aria-label="organizer  " title="">
<div class="error-message" id="975073605_errorMessage"></div>
<div class="required-message">This is a required question</div>
</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="auto" class="ss-item  ss-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_1392941388"><div class="ss-q-title">email
</div>
<div class="ss-q-help ss-secondary-text" dir="auto"></div></label>
<input type="text" name="entry.1392941388" value="" class="ss-q-short" id="entry_1392941388" dir="auto" aria-label="email  " title="">
<div class="error-message" id="527850672_errorMessage"></div>
<div class="required-message">This is a required question</div>
</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="auto" class="ss-item  ss-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_891570556"><div class="ss-q-title">phone
</div>
<div class="ss-q-help ss-secondary-text" dir="auto"></div></label>
<input type="text" name="entry.891570556" value="" class="ss-q-short" id="entry_891570556" dir="auto" aria-label="phone  " title="">
<div class="error-message" id="1604047875_errorMessage"></div>
<div class="required-message">This is a required question</div>
</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="auto" class="ss-item  ss-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_1614671811"><div class="ss-q-title">opentimes
</div>
<div class="ss-q-help ss-secondary-text" dir="auto"></div></label>
<input type="text" name="entry.1614671811" value="" class="ss-q-short" id="entry_1614671811" dir="auto" aria-label="opentimes  " title="">
<div class="error-message" id="385055854_errorMessage"></div>
<div class="required-message">This is a required question</div>
</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="auto" class="ss-item  ss-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_829258381"><div class="ss-q-title">website
</div>
<div class="ss-q-help ss-secondary-text" dir="auto"></div></label>
<input type="text" name="entry.829258381" value="" class="ss-q-short" id="entry_829258381" dir="auto" aria-label="website  " title="">
<div class="error-message" id="126674847_errorMessage"></div>
<div class="required-message">This is a required question</div>
</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="auto" class="ss-item  ss-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_1523444650"><div class="ss-q-title">ebtcard
</div>
<div class="ss-q-help ss-secondary-text" dir="auto"></div></label>
<input type="text" name="entry.1523444650" value="" class="ss-q-short" id="entry_1523444650" dir="auto" aria-label="ebtcard  " title="">
<div class="error-message" id="1749645215_errorMessage"></div>
<div class="required-message">This is a required question</div>
</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="auto" class="ss-item  ss-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_1232855812"><div class="ss-q-title">ccard
</div>
<div class="ss-q-help ss-secondary-text" dir="auto"></div></label>
<input type="text" name="entry.1232855812" value="" class="ss-q-short" id="entry_1232855812" dir="auto" aria-label="ccard  " title="">
<div class="error-message" id="767572650_errorMessage"></div>
<div class="required-message">This is a required question</div>
</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="auto" class="ss-item  ss-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_968313598"><div class="ss-q-title">latitude
</div>
<div class="ss-q-help ss-secondary-text" dir="auto"></div></label>
<input type="text" name="entry.968313598" value="" class="ss-q-short" id="entry_968313598" dir="auto" aria-label="latitude  " title="">
<div class="error-message" id="720657357_errorMessage"></div>
<div class="required-message">This is a required question</div>
</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="auto" class="ss-item  ss-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_868857520"><div class="ss-q-title">longitude
</div>
<div class="ss-q-help ss-secondary-text" dir="auto"></div></label>
<input type="text" name="entry.868857520" value="" class="ss-q-short" id="entry_868857520" dir="auto" aria-label="longitude  " title="">
<div class="error-message" id="1327371720_errorMessage"></div>
<div class="required-message">This is a required question</div>
</div></div></div>
<input type="hidden" name="draftResponse" value="[,,&quot;7852921305845610782&quot;]
">
<input type="hidden" name="pageHistory" value="0">

<input type="hidden" name="fvv" value="0">


<input type="hidden" name="fbzx" value="7852921305845610782">

<div class="ss-item ss-navigate"><table id="navigation-table"><tbody><tr><td class="ss-form-entry goog-inline-block" id="navigation-buttons" dir="ltr">
<input type="submit" name="submit" value="Submit" id="ss-submit" class="jfk-button jfk-button-action ">
</td>
</tr></tbody></table></div></ol></form>