<div class="container">

	<form action="https://docs.google.com/a/codeforamerica.org/forms/d/1_Qsu-iSWFo_3supmJqIIM1zqzrIW0WKwAgDg3VdkHQc/formResponse" method="POST" id="ss-form" target="_self" onsubmit="">

		<div class="form-group">
			<ul role="radiogroup" aria-label="category  ">
				<li>
					<label>
						<input type="radio" name="entry.1231740091" 	value="Urban Farm" id="group_1231740091_1" role="radio" class="ss-q-radio" aria-label="Urban Farm">
						<span class="ss-choice-label">Urban Farm</span>
					</label>
				</li> 
				<li>
					<label>
						<input type="radio" name="entry.1231740091" value="Farm&#39;s Stand" id="group_1231740091_2" role="radio" class="ss-q-radio" aria-label="Farm&#39;s Stand">
						<span class="ss-choice-label">Farm&#39;s Stand</span>
					</label>
				</li> 
				<li>
					<label>
						<input type="radio" name="entry.1231740091" value="Farmer&#39;s Market" id="group_1231740091_3" role="radio" class="ss-q-radio" aria-label="Farmer&#39;s Market">
						<span class="ss-choice-label">Farmer&#39;s Market</span>
					</label>
				</li>
			</ul>
		</div>

		<div class="form-group">
			<label for="entry_1861515584">title</label>
			<input type="text" name="entry.1861515584" value="" class="form-control" id="entry_1861515584" dir="auto" aria-label="title  " title="">
		</div>


		<div class="form-group">
			<label for="entry_2125513036">description</label>
			<textarea name="entry.2125513036" rows="8" cols="0" class="form-control" id="entry_2125513036" dir="auto" aria-label="description  "></textarea>
		</div>

		<div class="form-group">
			<label for="entry_84306259">address</label>
			<input type="text" name="entry.84306259" value="" class="form-control" id="entry_84306259" dir="auto" aria-label="address  " title="">
		</div>

		<div class="form-group">
			<label for="entry_1559662300">city</label>
			<input type="text" name="entry.1559662300" value="" class="form-control" id="entry_1559662300" dir="auto" aria-label="city  " title="">
		</div>

		<div class="form-group">
			<label for="entry_239834816">state</label>
			<input type="text" name="entry.239834816" value="" class="form-control" id="entry_239834816" dir="auto" aria-label="state  " title="">
		</div>

		<div class="form-group">
			<label for="entry_1662777272">zipcode</label>
			<input type="text" name="entry.1662777272" value="" class="form-control" id="entry_1662777272" dir="auto" aria-label="zipcode  " title="">
		</div>

		<div class="form-group">
			<label for="entry_1177582444">organizer</label>
			<input type="text" name="entry.1177582444" value="" class="form-control" id="entry_1177582444" dir="auto" aria-label="organizer  " title="">
		</div>

		<div class="form-group">
			<label for="entry_1392941388">email</label>
			<input type="text" name="entry.1392941388" value="" class="form-control" id="entry_1392941388" dir="auto" aria-label="email  " title="">
		</div>

		<div class="form-group">
			<label for="entry_891570556">phone</label>
			<input type="text" name="entry.891570556" value="" class="form-control" id="entry_891570556" dir="auto" aria-label="phone  " title="">
		</div>

		<div class="form-group">
			<label for="entry_1614671811">opentimes</label>
			<input type="text" name="entry.1614671811" value="" class="form-control" id="entry_1614671811" dir="auto" aria-label="opentimes  " title="">
		</div>

		<div class="form-group">
			<label for="entry_829258381">website</label>
			<input type="text" name="entry.829258381" value="" class="form-control" id="entry_829258381" dir="auto" aria-label="website  " title="">
		</div>

		<div class="form-group">
			<label for="entry_1523444650">ebtcard</label>
			<input type="text" name="entry.1523444650" value="" class="form-control" id="entry_1523444650" dir="auto" aria-label="ebtcard  " title="">
		</div>

		<div class="form-group">
			<label for="entry_1232855812">ccard</label>
			<input type="text" name="entry.1232855812" value="" class="form-control" id="entry_1232855812" dir="auto" aria-label="ccard  " title="">
		</div>

		<leaflet markers="markers" center="westsac" lf-center="center" event-broadcast="events" width="100%" height="500"></leaflet>

		<div class="form-group">
			<label for="entry_968313598">latitude</label>
			<input type="text" name="entry.968313598" value="" ng-model="latitude" class="form-control" id="entry_968313598" dir="auto" aria-label="latitude  " title="">
		</div>

		<div class="form-group">
			<label for="entry_868857520">longitude</label>
			<input type="text" name="entry.868857520" value="" ng-model="longitude" class="form-control" id="entry_868857520" dir="auto" aria-label="longitude  " title="">
		</div>

			<input type="hidden" name="draftResponse" value="[,,&quot;7852921305845610782&quot;]">
			<input type="hidden" name="pageHistory" value="0">
			<input type="hidden" name="fvv" value="0">
			<input type="hidden" name="fbzx" value="7852921305845610782">

		<input type="submit" name="submit" value="Submit" id="ss-submit" class="btn">

	</form>
</div>