
        

        <img src="https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/s320x320/e15/11410456_1054296967922095_1114136858_n.jpg" alt="" />

        {{farmer}} {{id}}

        <h3>{{ farmer.email }}</h3>
        <p > Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        <p> <i class="fa fa-map-marker"></i> 123 Main Street, West Sacramento <br>
        <i class="fa fa-phone"></i> 555-113-4498 </p>
      

          <h3>Products</h3>
          <hr>
        
          <div ng-repeat="product in farmer.products">
            <!-- <img src="http://placehold.it/433x250"> -->
                <div class="card-section">
                <h3>{{ product.name }}</h3>
                
          </div>


                
                
                

                
               
