<div class="container-fluid top-shelf">
  <div class="container">
    <h2>Explore <strong>local food sources</strong> near <strong>West Sacramento</strong>:</h2>
    
    <h4>Filters</h4>
    <button type="button" class="btn btn-default filter">Urban Farms</button>
    <button type="button" class="btn btn-default filter">Farmers Markets</button>
    <button type="button" class="btn btn-default filter">Farm Stands</button>
  </div>
</div>

<div class="container">

  <div class="row">
    <div class="col-md-4">
        <ul class="search-results">
          <li ng-repeat="market in markets">
             <!-- <img src="http://placehold.it/433x215"> -->
            <h3 class="search-result-title"><span ui-sref="market({ marketID: market.id})">{{market.title}}</span></h3>
            <p class="search-result-detail"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> {{market.address}}</p>
            <p class="search-result-detail"><span class="glyphicon glyphicon-time" aria-hidden="true"></span> {{market.opentimes}}</p>
          </li>
        </ul>
    </div>
    
    <div class="col-md-8">
      <div class="map-container">
        <leaflet markers="markers" center="westsac" lf-center="center" width="100%" height="550"></leaflet>
      </div>
    </div>
  </div>

</div>